/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
.righ-header-search {
  display: inline-block;
  position: relative;
  height: 34px;
  padding-left: 36px;
  background-color: #9575be;
  top: -6px;
  z-index: 1000;
  border: 0px solid red; }

.righ-header-search .searchButton {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  height: 35px; }

.righ-header-search .searchInput {
  position: relative;
  display: block;
  overflow: hidden;
  width: 0;
  left: 1px;
  text-align: left; }

.searchInput input[type="text"] {
  border: 0;
  border-left: 1px solid #d5cfcf;
  width: 260px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  outline: 0;
  background-color: transparent;
  background: 0;
  color: #fff;
  font-weight: bold; }

